							* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0);

    font-family: BankGothic RUSS;
    background-color: black;
    color: white;
}
@font-face {
    font-family: BankGothic;
    src: url(../fonts/stylesheet.css);
}
::selection {
	color: black;
	background: #ffffff; /* Safari */
	}
::-moz-selection {
	color: black;
	background: #ffffff; /* Firefox */
	}
:root {
    --index: calc(1vh + 1vw);
}
.wrapper {
    margin: 0 calc(var(--index) * 15);
}

/* Заглавие */

header{
	justify-content: space-between;
	display: flex;
	padding: 20px 0 0 0;
	margin: 0;
	color: white;
	background-color: black;
}
header{
	justify-content: space-between;
	display: flex;
	padding: 20px 0 0 0;
	margin: 0;
	color: white;
	background-color: black;
}
.logo{
	background-color: white;
	filter: invert(1);
	height: 50px;
}
.heading{
	background-color: rgba(0, 0, 0, 0);
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut;
	padding-top: 50px;
	text-align: center;
	font-size: 3em;
}
.search_mobile{
	display: none;
}
.search{
	position: relative;
	left: 0;
	display: flex;
	align-items: center;
	transition: 0.4s;
}
.search:hover{
	left: -285px;
	transition: 0.7s;
}
.search > span{
	left: 30px;
	opacity: 0;
	visibility: hidden;
	display: flex;
	position: absolute;
	transition: visibility, opacity 0.2s .24s;
	transform: rotateX(10);
}
.search:hover > span{
	opacity: 1;
	visibility: visible;
}
.search > span > input{
	padding: 5px;
	margin: 0 6px;
	border: 1px solid;
	box-shadow: 0 0 10px white;
}
.search > img{
	transform: rotate(0deg);
	transition: 0.5s;
}
.search:hover > img{
	transform: rotate(90deg);
}
.submit{
	font-weight: bold;
	cursor: pointer;
}


.account-info {
    display: flex;
    margin-top: calc(var(--index) * 2);
	opacity: 0;
	transform: translateY(200px);
}
.account-info.element-show{
	-webkit-animation-duration: 1.1s;
	animation-duration: 1.1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut;
	opacity: 1;
	transform: translateY(0px);
}
.account-info__logo {
    width: calc(var(--index) * 8);
}
.account-info__avatar {
    width: calc(var(--index) * 8);
    height: calc(var(--index) * 8);
    box-shadow: 0 0 5px 5px white;
}
.account-info__name {
	font-size: calc(var(--index) * 1);
	font-weight: bold;
}
.account-info__info{
	font-size: calc(var(--index) * .6);
	margin-left: 60px;
}
.account-info__email {
	font-size: calc(var(--index) * .65);
}
.account-info__email span{
	font-size: calc(var(--index) * .7);
}
.account-info__social-credits {
	text-align: center;
    width: calc(var(--index) * 8);
    white-space: nowrap;
	margin-top: 10px;
	font-size: 24px;
    overflow:auto;
}
.account-info__score {
	text-decoration: underline;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: calc(var(--index) * .5);
}
.account-info__score img {
	height: 25px;
}
:active, :hover :focus {
    outline: 0;
    outline-offset: 0;
}
.rating_row {
	display: block;
}
.row__block {
	border: 0;
	height: auto;
	max-width: none;
	width: 100%;
}
.row__block h2 {
	margin: 0 50px 0 0;
	display: inline-block;
	text-align: left;
}

.registration-cssave {
	transform: translateY(200px);
	opacity: 0;
	display: block;
	margin: calc(var(--index) * 2) 0;
}
.registration-cssave__form {
	max-width: 500px;
	margin: 0 auto;
	text-align: center;
}
.form-label {
	display: inline-block;
}
.form-group {
	width: 100%;
	border: 1px solid white;
	text-align: left;
	margin-bottom: calc(var(--index) * .4);
}
.form-group p{
	display: flex;
	font-size: 20px;
	flex-wrap: nowrap;
}
.form-group label {
	margin-right: 10px;
}
.form-group input {
	background-color: rgba(0, 0, 0, 0);
	font-size: 20px;
	width: 100%;
}
#id_login{
	tab-size: 1;
}
#id_password {
	tab-size: 2;
}
.form-group input:focus {
	box-shadow: 0 1px 0 0 white;
}
.login_button {
	padding: 10px;
	background-color: black;
	border: 1px solid white;
	font-size: 20px;
	transition: 0.4s ease;
}
.login_button:hover {
	background-color: white;
	color: black;
}
.registration-cssave.element-show{
	-webkit-animation-duration: 1.1s;
	animation-duration: 1.1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut;
	opacity: 1;
	transform: translateY(0px);
}
.shop__block img {
	height:  200px;
}
.shop__block {
	margin: 0 calc(var(--index));
	transform: translateY(100px);
	text-align: center;
	opacity: 0;
	transition: all 0.4s;
}
.shop__block h2 {
	font-size: 20px;
}
.shop__block button {
	background-color: black;
	border: 1px solid white;
	padding: 10px;
	font-size: 20px;
	transition: .2s;
}
.shop__block button:hover {
	background-color: white;
	color: black;
}
.shop__block.element-show {
	-webkit-animation-duration: 1.1s;
	animation-duration: 1.1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut;
	opacity: 1;
	transform: translateY(0px);
}